/* Custom Fonts */
@font-face{
  font-family: Centra;
  src: url('./assets/fonts/CentraNo1-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: Centra;
  src: url('./assets/fonts/CentraNo1-Book.ttf') format('truetype') ;
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: Centra;
  src: url('./assets/fonts/CentraNo1-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Colors & Defaults */
*{
    --background-color: #FFFFFF;
    --accent-color1: #000000;
    --accent-color2: #128058;
    --accent-color3: #FF66C4;
    --text-color: #393939;

    margin:0;
    padding:0;

    box-sizing: border-box;;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body{
  font-weight: 200;
  overflow-x: hidden;
  position: relative;

  background: var(--background-color) !important;
  color: var(--accent-color1) !important;

  font-family: 'Centra', sans-serif !important;
}

p{
  color: var(--text-color) !important;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* Navigation */
nav.navbar{
  width: 100%;
  padding: 2% 0;
  position: fixed;
  background: var(--background-color);
  border-bottom: 2px solid var(--accent-color1);
  z-index: 9999;
}

nav.navbar a.navbar-brand{
  width: 10%;
}

nav.navbar .navbar-nav{
  margin-left: auto;
}

nav.navbar .navbar-nav .navbar-link{
  padding: 0 1rem;
  font-weight: 200;
  color: var(--accent-color1) !important;
  letter-spacing: 0.8px;
  position: relative;
}

nav.navbar .navbar-nav .navbar-link::after{
  content: '';
  width: 0;
  height: 0.5px;
  background: var(--accent-color3) !important;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

nav.navbar .navbar-nav .navbar-link:hover::after{
  width: 100%;
}

.navbar-text{
  display: flex;
  justify-content: flex-end;
}

.social-icon img{
  width: 40px;
  height: 40px;
}

.social-icon a{
  margin: 0 1rem 0 0;
  border: 1px solid var(--accent-color1);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

nav.navbar .navbar-toggler{
  border-color: transparent;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
} 


/* Banner */
.banner {
  min-height: 100vh;
  padding: 10rem 2rem 5rem 2rem;

  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;

  border-bottom: 1px solid var(--accent-color1);
}

.banner .tagline {
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 0.5rem 0.3rem;
  background: linear-gradient(90.21deg, #FF66C447 -5.91%, #12805847 111.58%);
  margin-bottom: 1rem;
}

.banner h1 {
  width: 65vw;
  font-size: 4vw;
  font-weight: 800;
  letter-spacing: 0.8px;
  margin:2rem 0;
}

.banner .wrap {
  font-size: 4vw;
  border-right: 1px solid #b1b1b1;
}

.banner p {
  margin: 3rem 0 0 0;
  color: var(--text-color);
  letter-spacing: 0.8px;
  line-height: 1.5rem;
}
.banner button {
  display: flex;
  font-weight: 400;
  margin: 5vh 0 0 0;
  padding: 1.5vh 1.5vw;
  color: var(--accent-color1);
  background: var(--background-color);
  border: 1px solid var(--accent-color1);
}


/* Skills */
.skill{
  min-height: 100vh;
  padding: 10rem 2rem 5rem 2rem;

  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;

  /* TODO: find background 
  background: url("");  
  background-size: cover;
  */

  border-bottom: 1px solid var(--accent-color1);
}

.skill-bx{
  margin: -5rem 0 0 0;
  padding: 4rem 3rem;
  text-align: center;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.skill h2{
  font-size: 4vw;
  font-weight: 800;
}

.skill-slider{
  width: 80%;
  margin: 0 auto;
}

.skill-slider .skill-item{
  width: 50%;
  margin: 0 auto;
}

.skill-slider .skill-item img{
  width: 90%;
  margin: 1rem auto;
}


@media (max-width: 991.98px) { /* Bootstrap Standard Breakpoint for lg */
  nav.navbar a.navbar-brand{
    width: 25%;
  }

  .navbar-nav .navbar-link {
    padding: 0.5rem;
    margin-left: 0;
  }

  nav.navbar .navbar-nav .navbar-link:hover::after{
    width: 20%;
  }

  .navbar-text {
    display: none;
  }

  .banner h1{
    font-size: 5vw;
  }

  .banner .wrap{
    font-size: 5vw;
    border-right: 0.4px solid #b1b1b1;
  }
}